<div class="colors">
    <div class="colors_ colors_1" onclick="styles_n(this)" title="1">
  
    </div>
    <div class="colors_ colors_2" onclick="styles_n(this)" title="2">
      
    </div>
    <div class="colors_ colors_3" onclick="styles_n(this)" title="3">
      
    </div>
    <div class="colors_ colors_4" onclick="styles_n(this)" title="4">
      
    </div>
    <div class="colors_ colors_5" onclick="styles_n(this)" title="5">
      
    </div>

    <div >
          <img class="colors_6"  onclick="style_change_plus(this)" src="https://img.icons8.com/officexs/16/null/plus.png" title="6"/>
    </div>
  </div>

<div class="display_none" id="style6">

  <div class="style06"><div>
    <input type="color" id="head" name="head"
           value="#e66465" onchange="style_change(this)" title="6">
    <label for="head">Changer la couleur </label>
</div> </div>
</div>