<div class="a1">
    <div onclick="action()" title="Accueil" class="grande" >
        Accueil
    </div> 
    <div onclick="action_information(this)" title="get_result_villes_nom_array_2" >
      Villes
  </div>
    <div onclick="action_information(this)" title="get_club_nom_complet_array_2">
      Club
    </div>    
    <div onclick="action_information(this)" title="get_club_region_array_2">
        Region
    </div>
    <div onclick="action_information(this)" title="get_club_departement_array_2">
      Département
    </div>
    <div onclick="action_information(this)" title="get_epreuve_nom_complet">
      Epreuves
  </div>
 </div>  
<div id="style_change"></div>

