
    <div id="model_1" class="display_none"> 
   
   <h1  class="text-center" id="name_tag" >
        Aarhus (DEN)
    </h1>
<div id="model1" class="display_none"></div>




<div id="tous_tous">

</div>
<style>
 .model1{
 
    display: flex;
    justify-content: space-around;
    width: 80% ; 
    margin : auto ; 
    margin-top: 50px; 
    color: white;
 }
 
 .model1 div {
    width : 100% ; 
    text-align: center;
    background-color: var(--style_1_1);

    padding: 10px;
 }
 .model1 div  sup{
 background-color: black;
 border: 2px solid white;
 padding: 5px;
 border-radius: 100%;
 }
 .model1 div:hover {
    width : 100% ; 
    text-align: center;
    background-color: grey;
   
    cursor: pointer;
 }



 @media screen and (max-width: 1280px)
    {
        .model1{
 
 width: 100% ; 
 
}
    }
</style>




<style>
  .verte{
    background-color: greenyellow;
  }
</style>

 

<script>
/*
const para = document.createElement("p");
para.innerHTML = "This is a paragraph.";
document.getElementById("tous_tous").appendChild(para);
*/
</script>

<style>
    table{
        border:1px solid black; 
   
width:80%; 
margin: auto;
margin-left : 100px; 
text-align: center;
    }
    .color1:hover{
      background-color: aqua;
      cursor: pointer;
      transition: 0.2s all;
    }
    .color1:hover{
 
      cursor: pointer;
      transition: 1s all;
    }
 th{
    padding: 20px;
 }

</style>
 



<div class="a0">
  <div class="a1">
    <div></div>
        <div>
          Total
        </div>
        <div>
          Selection
        </div>
        
   </div>

  <div class="a1" >
    <div>epreuve_sex_array_2 </div>
    <div id="epreuve_sex_array_2__" > 1</div>
    <div onclick="action_click_array(this)" title="epreuve_sex_array_2__"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>    
</div>
<div id="epreuve_sex_array_2__zero"></div>

  
  <div class="a1">
    <div>get_cat_array_2</div>
    <div id="get_cat_array_2__"> 1</div>
    <div  onclick="action_click_array(this)" title="get_cat_array_2__"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>    
</div>
<div id="get_cat_array_2__zero"></div>
<div class="a1">
  <div>get_club_departement_array_2</div>
  <div id="get_club_departement_array_2__"> 1</div>
  <div  onclick="action_click_array(this)" title="get_club_departement_array_2__"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>    
</div>
<div id="get_club_departement_array_2__zero">

</div>
<div class="a1">
  <div>get_club_nom_complet_array_2</div>
  <div id="get_club_nom_complet_array_2__"> 1</div>
  <div  onclick="action_click_array(this)" title="get_club_nom_complet_array_2__"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>    
</div>
<div id="get_club_nom_complet_array_2__zero">

</div>
<div class="a1">
  <div>get_club_region_array_2</div>
  <div id="get_club_region_array_2__">1</div>
  <div  onclick="action_click_array(this)" title="get_club_region_array_2__"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>
 </div>
 <div id="get_club_region_array_2__zero"></div>
<div class="a1">
  <div>Total</div>
  <div id="total"> 1</div>
  <div  onclick="action_click_array(this)" title="total"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>    
</div>
<div id="totalzero">

</div>
<div class="ax0">
  <div class="ax1">
    <div></div>  
        <div>Tout selectionner</div>
        <div> Tout deselectionner</div>    
  </div>
  
  <div class="ax1">
    <div>1</div>  
        <div>2</div>
        <div>3</div>    
  </div>
</div>



</div>



<style>
  .ax0{
    height: 50px;
    
    overflow-y: scroll;
  }
  .a0{
    margin: auto;
    width: 80%;
    margin-top: 100px;
  }
  .a1 ,.ax1{
    display: flex;
    justify-content: space-around;
    padding: 0px;
 
  }
    .ax1 div {
    width: 33.3%;

  }
  .ax1 {
    width: 100%;
 
  }
  .ax1 div {
    
 
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
  }
 
.flex_01{
  display: flex;
 
  margin: auto;
   justify-content: space-around;
  
  margin-top: 100px;
  width: 100%;
}
.flex_00{
  display: flex;
 
  margin: auto;
  justify-content: space-around;
  
  
}

</style>
<script>




var n = 0 ; 
var epreuve_sex_array_2__zero_bool = false ; 
var get_club_departement_array_2__zero_bool = false ; 
var get_club_nom_complet_array_2__zero_bool = false ; 
var get_club_region_array_2__zero_bool = false ; 
var get_cat_array_2__zero_bool = false ; 




function get_all_false(){
  epreuve_sex_array_2__zero_bool = false ; 
  get_club_departement_array_2__zero_bool = false ; 
  get_club_nom_complet_array_2__zero_bool = false ; 
  get_club_region_array_2__zero_bool = false ; 
  get_cat_array_2__zero_bool = false ; 
}
function get_all_true(){
  document.getElementById("epreuve_sex_array_2__zero").innerHTML="";
  document.getElementById("get_club_departement_array_2__zero").innerHTML="";
  document.getElementById("get_club_nom_complet_array_2__zero").innerHTML="";
  document.getElementById("get_club_region_array_2__zero").innerHTML="";
  document.getElementById("get_cat_array_2__zero").innerHTML="" ; 
}

function action_click_array(_this){

  get_all_true() ;
 





document.getElementById(_this.title+"zero").innerHTML="" ; 

/// boucle a faire ici 


  n ++ ; 


// fin de la boucle 

 

 
 

switch (_this.title) {
  case "epreuve_sex_array_2__":
    console.log(_this.title) ; 






for(var n = 0 ; n<epreuve_sex_array_2_array.length ;n++){


  var para = document.createElement("div");
            para.setAttribute("id",_this.title+"zero"+n);
            para.setAttribute("class","ax1") ; 
            document.getElementById(_this.title+"zero").appendChild(para);

            var para = document.createElement("div");

            para.innerHTML=epreuve_sex_array_2_array[n]; 
            document.getElementById(_this.title+"zero"+n).appendChild(para);

            var para = document.createElement("div");
            para.innerHTML="A" ; 
            document.getElementById(_this.title+"zero"+n).appendChild(para);

            var para = document.createElement("div");
            para.innerHTML="B"; 
            document.getElementById(_this.title+"zero"+n).appendChild(para);
          
}


if(!epreuve_sex_array_2__zero_bool){
          get_all_false() ;
        epreuve_sex_array_2__zero_bool = true;

}
else {
  get_all_true() ;  
epreuve_sex_array_2__zero_bool = false;
 
}



    break;

    case "get_cat_array_2__":
    console.log(_this.title) ; 

    for(var n = 0 ; n<get_cat_array_2_array.length ;n++){
  var para = document.createElement("div");
para.setAttribute("id",_this.title+"zero"+n);
para.setAttribute("class","ax1") ; 
document.getElementById(_this.title+"zero").appendChild(para);

var para = document.createElement("div");

para.innerHTML=get_cat_array_2_array[n]; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="A" ; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="B"; 
document.getElementById(_this.title+"zero"+n).appendChild(para);


}






 




 


if(!get_cat_array_2__zero_bool){
          get_all_false() ;
          get_cat_array_2__zero_bool = true;
}
else {
  get_all_true() ;   
get_cat_array_2__zero_bool = false; 
}






console.log(get_cat_array_2_array) ; 

    break;
    
    case "get_club_departement_array_2__":
    console.log(_this.title) ; 



    for(var n = 0 ; n<get_club_departement_array_2_array.length ;n++){
  var para = document.createElement("div");
para.setAttribute("id",_this.title+"zero"+n);
para.setAttribute("class","ax1") ; 
document.getElementById(_this.title+"zero").appendChild(para);

var para = document.createElement("div");

para.innerHTML=get_club_departement_array_2_array[n]; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="A" ; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="B"; 
document.getElementById(_this.title+"zero"+n).appendChild(para);


}




if(!get_club_departement_array_2__zero_bool){
          get_all_false() ;
          get_club_departement_array_2__zero_bool = true;
 
        }
else {
  get_all_true() ;   
get_club_departement_array_2__zero_bool = false; 
 
}




console.log(get_club_departement_array_2_array) ; 
    break;

    case "get_club_nom_complet_array_2__":
    console.log(_this.title) ; 


    for(var n = 0 ; n<get_club_nom_complet_array_2_array.length ;n++){
  var para = document.createElement("div");
para.setAttribute("id",_this.title+"zero"+n);
para.setAttribute("class","ax1") ; 
document.getElementById(_this.title+"zero").appendChild(para);

var para = document.createElement("div");

para.innerHTML=get_club_nom_complet_array_2_array[n]; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="A" ; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="B"; 
document.getElementById(_this.title+"zero"+n).appendChild(para);


}





if(!get_club_nom_complet_array_2__zero_bool){
          get_all_false() ;
          get_club_nom_complet_array_2__zero_bool = true;
 
        }
else {
  get_all_true() ;   
get_club_nom_complet_array_2__zero_bool = false; 
 
}







console.log(get_club_nom_complet_array_2_array) ; 
    break;

    case "get_club_region_array_2__":
    console.log(_this.title) ; 


    for(var n = 0 ; n<get_club_region_array_2_array.length ;n++){
  var para = document.createElement("div");
para.setAttribute("id",_this.title+"zero"+n);
para.setAttribute("class","ax1") ; 
document.getElementById(_this.title+"zero").appendChild(para);

var para = document.createElement("div");

para.innerHTML=get_club_region_array_2_array[n]; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="A" ; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="B"; 
document.getElementById(_this.title+"zero"+n).appendChild(para);


}




if(!get_club_region_array_2__zero_bool){
          get_all_false() ;
          get_club_region_array_2__zero_bool = true;
}
else {
  get_all_true() ;   
get_club_region_array_2__zero_bool = false; 
}









console.log(get_club_region_array_2_array) ; 
    break;

    case "total":
    console.log(_this.title) ; 
 
    break;
 
}





}

 



 
</script>


 
