
    <div id="model_1" class="display_none"> 
   
   <h1  class="text-center" id="name_tag" onclick="action_final_sort()" >
        Aarhus (DEN)
    </h1>
<div id="model1" class=""></div>




<div id="tous_tous">

</div>
  


<div class="a0">
  <div class="a1">
    <div></div>
        <div >
          Total
        </div>
        <div>
          Selection
        </div>
        
   </div>

  <div class="a1" >
    <div>epreuve_sex_array_2 </div>
    <div id="epreuve_sex_array_2__" > 1</div>
    <div onclick="myGreeting()" title="epreuve_sex_array_2__"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>    
</div>
<div id="epreuve_sex_array_2__zero">
 












</div>

  
  <div class="a1">
    <div>get_cat_array_2</div>
    <div id="get_cat_array_2__"> 1</div>
    <div  onclick="action_click_array(this)" title="get_cat_array_2__"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>    
</div>
<div class="ax1"> 

  <div></div>  
  <div>
    Tout selectionnet
  </div>
  <div>
    Tout déselectionner
  </div>    
</div>
<div id="get_cat_array_2__zero" class="ax0"></div>
<div class="a1">
  <div>get_club_departement_array_2</div>
  <div id="get_club_departement_array_2__"> 1</div>
  <div  onclick="action_click_array(this)" title="get_club_departement_array_2__"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>    
</div>
<div class="ax1"> 

  <div></div>  
  <div>
    Tout selectionnet
  </div>
  <div>
    Tout déselectionner
  </div>    
</div>
<div id="get_club_departement_array_2__zero" class="ax0">
  <div class="ax1"> 

    <div></div>  
    <div>
      Tout selectionnet
    </div>
    <div>
      Tout déselectionner
    </div>    
  </div>
</div>
<div class="a1">
  <div>get_club_nom_complet_array_2</div>
  <div id="get_club_nom_complet_array_2__"> 1</div>
  <div  onclick="action_click_array(this)" title="get_club_nom_complet_array_2__"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>    
</div>
<div class="ax1"> 

  <div></div>  
  <div>
    Tout selectionnet
  </div>
  <div>
    Tout déselectionner
  </div>    
</div>
<div id="get_club_nom_complet_array_2__zero" class="ax0">
  <div class="ax1"> 

    <div></div>  
    <div>
      Tout selectionnet
    </div>
    <div>
      Tout déselectionner
    </div>    
  </div>
  
</div>
<div class="a1">
  <div>get_club_region_array_2</div>
  <div id="get_club_region_array_2__">1</div>
  <div  onclick="action_click_array(this)" title="get_club_region_array_2__"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>
 </div>
 <div id="get_club_region_array_2__zero" class="ax0">
  <div class="ax1"> 

    <div></div>  
     <div>Tout selectionner</div>
     <div> Tout deselectionner</div>    
  </div>
  
 </div>
<div class="a1">
  <div>Total</div>
  <div id="total"> 1</div>
  <div  onclick="action_click_array(this)" title="total"> <img src="https://img.icons8.com/fluency-systems-regular/25/null/expand-arrow--v1.png"/></div>    
</div>
<div id="totalzero">

</div>
<div class="ax0">
  <div class="ax1">
    <div></div>  
        <div>Tout selectionner</div>
        <div> Tout deselectionner</div>    
  </div>
  
  
</div>



</div>


<style>

</style>
<script>


//
/*
        get_cat_array_2_array
        get_club_departement_array_2_array
        get_club_nom_complet_array_2_array
        get_club_region_array_2_array
*/

// 



var n = 0 ; 
var epreuve_sex_array_2__zero_bool = false ; 
var get_club_departement_array_2__zero_bool = false ; 
var get_club_nom_complet_array_2__zero_bool = false ; 
var get_club_region_array_2__zero_bool = false ; 
var get_cat_array_2__zero_bool = false ; 

var liste_de_selection = [] ; 





var epreuve_sex_array_2__zero_bool_2 =false ; 
var get_club_departement_array_2__zero_bool_2 =false ; 
var get_club_nom_complet_array_2__zero_bool_2 =false ; 
var get_club_region_array_2__zero_bool_2 =false ; 
var get_cat_array_2__zero_bool_2 =false ; 




function get_all_false(){
 
  epreuve_sex_array_2__zero_bool = false ; 
  get_club_departement_array_2__zero_bool = false ; 
  get_club_nom_complet_array_2__zero_bool = false ; 
  get_club_region_array_2__zero_bool = false ; 
  get_cat_array_2__zero_bool = false ; 
}
function get_all_true(){

  document.getElementById("epreuve_sex_array_2__zero").innerHTML="";
  document.getElementById("get_club_departement_array_2__zero").innerHTML="";
  document.getElementById("get_club_nom_complet_array_2__zero").innerHTML="";
  document.getElementById("get_club_region_array_2__zero").innerHTML="";
  document.getElementById("get_cat_array_2__zero").innerHTML="" ; 
}

function action_click_array(_this){





  get_all_true() ;
 





document.getElementById(_this.title+"zero").innerHTML="" ; 

/// boucle a faire ici 


  n ++ ; 


// fin de la boucle 

 

 
 

switch (_this.title) {
  case "epreuve_sex_array_2__":
     
 





for(var n = 0 ; n<epreuve_sex_array_2_array.length ;n++){


  var para = document.createElement("div");
            para.setAttribute("id",_this.title+"zero"+n);
            para.setAttribute("class","ax1") ; 
            document.getElementById(_this.title+"zero").appendChild(para);

            var para = document.createElement("div");

            para.innerHTML=epreuve_sex_array_2_array[n]; 
            document.getElementById(_this.title+"zero"+n).appendChild(para);

            var para = document.createElement("div");
            
if(epreuve_sex_array_2_array[n][1]==false){

para.innerHTML='<input type="checkbox" id="'+epreuve_sex_array_2_array[n]+'_x" name="scales" title="'+epreuve_sex_array_2_array[n]+'" onclick="action_switch_select(this)" >';

//alert(epreuve_sex_array_2_array[n][1]) ;
//alert(_this.title) ; 

 
epreuve_sex_array_2_array[n][1]=true ; 

}
else {
  
  para.innerHTML='<input type="checkbox" id="'+epreuve_sex_array_2_array[n]+'_x" name="scales" title="'+epreuve_sex_array_2_array[n]+'" onclick="action_switch_select(this)" checked >';

  //epreuve_sex_array_2_array[n][1]=false ; 
}

                        para.setAttribute("title",epreuve_sex_array_2_array[n]);
                        para.setAttribute("id",epreuve_sex_array_2_array[n]);
   
 

            document.getElementById(_this.title+"zero"+n).appendChild(para);

            var para = document.createElement("div");
            para.innerHTML="B"; 
            document.getElementById(_this.title+"zero"+n).appendChild(para);
          
}


if(!epreuve_sex_array_2__zero_bool){
          get_all_false() ;
        epreuve_sex_array_2__zero_bool = true;

}
else {
  get_all_true() ;  
epreuve_sex_array_2__zero_bool = false;
 
}



    break;

    case "get_cat_array_2__":
    console.log(_this.title) ; 

    for(var n = 0 ; n<get_cat_array_2_array.length ;n++){
  var para = document.createElement("div");
para.setAttribute("id",_this.title+"zero"+n);
para.setAttribute("class","ax1") ; 
document.getElementById(_this.title+"zero").appendChild(para);

var para = document.createElement("div");

para.innerHTML=get_cat_array_2_array[n]; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
 
para.innerHTML='<input type="checkbox"  name="scales" id="'+get_cat_array_2_array[n]+'_x" title="'+get_cat_array_2_array[n]+'" onclick="action_switch_select(this)">';

para.setAttribute("title",get_cat_array_2_array[n]);

document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="B"; 
document.getElementById(_this.title+"zero"+n).appendChild(para);


}






 




 


if(!get_cat_array_2__zero_bool){
          get_all_false() ;
          get_cat_array_2__zero_bool = true;
}
else {
  get_all_true() ;   
get_cat_array_2__zero_bool = false; 
}






console.log(get_cat_array_2_array) ; 

    break;
    
    case "get_club_departement_array_2__":
    console.log(_this.title) ; 



    for(var n = 0 ; n<get_club_departement_array_2_array.length ;n++){



  var para = document.createElement("div");
para.setAttribute("id",_this.title+"zero"+n);
para.setAttribute("class","ax1") ; 
document.getElementById(_this.title+"zero").appendChild(para);

var para = document.createElement("div");

para.innerHTML=get_club_departement_array_2_array[n]; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");

 
para.innerHTML='<input type="checkbox" id="'+get_club_departement_array_2_array[n]+'" name="scales" title="'+get_club_departement_array_2_array[n]+'" onclick="action_switch_select(this)">';

            para.setAttribute("title",get_club_departement_array_2_array[n]);
            para.setAttribute("id",get_club_departement_array_2_array[n]);

          
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="B"; 
document.getElementById(_this.title+"zero"+n).appendChild(para);


}




if(!get_club_departement_array_2__zero_bool){
          get_all_false() ;
          get_club_departement_array_2__zero_bool = true;
 
        }
else {
  get_all_true() ;   
get_club_departement_array_2__zero_bool = false; 
 
}




console.log(get_club_departement_array_2_array) ; 
    break;

    case "get_club_nom_complet_array_2__":
    console.log(_this.title) ; 


    for(var n = 0 ; n<get_club_nom_complet_array_2_array.length ;n++){
  var para = document.createElement("div");
para.setAttribute("id",_this.title+"zero"+n);
para.setAttribute("class","ax1") ; 
document.getElementById(_this.title+"zero").appendChild(para);

var para = document.createElement("div");

para.innerHTML=get_club_nom_complet_array_2_array[n]; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");

para.innerHTML='<input type="checkbox" id="'+get_club_nom_complet_array_2_array[n]+'_x" name="scales" title="'+get_club_nom_complet_array_2_array[n]+'" onclick="action_switch_select(this)">';

            para.setAttribute("title",get_club_nom_complet_array_2_array[n]);
            para.setAttribute("id",get_club_nom_complet_array_2_array[n]);

       
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="B"; 
document.getElementById(_this.title+"zero"+n).appendChild(para);


}





if(!get_club_nom_complet_array_2__zero_bool){
          get_all_false() ;
          get_club_nom_complet_array_2__zero_bool = true;
 
        }
else {
  get_all_true() ;   
get_club_nom_complet_array_2__zero_bool = false; 
 
}







console.log(get_club_nom_complet_array_2_array) ; 
    break;

    case "get_club_region_array_2__":
    console.log(_this.title) ; 


    for(var n = 0 ; n<get_club_region_array_2_array.length ;n++){
  var para = document.createElement("div");
para.setAttribute("id",_this.title+"zero"+n);
para.setAttribute("class","ax1") ; 
document.getElementById(_this.title+"zero").appendChild(para);

var para = document.createElement("div");

para.innerHTML=get_club_region_array_2_array[n]; 
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");

para.innerHTML='<input type="checkbox" id="'+get_club_region_array_2_array[n]+'_x"  name="scales" title="'+get_club_region_array_2_array[n]+'" onclick="action_switch_select(this)">';

            para.setAttribute("title",get_club_region_array_2_array[n]);
            para.setAttribute("id",get_club_region_array_2_array[n]);

         
document.getElementById(_this.title+"zero"+n).appendChild(para);

var para = document.createElement("div");
para.innerHTML="B"; 
document.getElementById(_this.title+"zero"+n).appendChild(para);


}




if(!get_club_region_array_2__zero_bool){
          get_all_false() ;
          get_club_region_array_2__zero_bool = true;
}
else {
  get_all_true() ;   
get_club_region_array_2__zero_bool = false; 
}









console.log(get_club_region_array_2_array) ; 
    break;

    case "total":
    console.log(_this.title) ; 
 
    break;
 
}





}

 



 function action_switch_select(_this){
 
 console.log("action switch ok ") ; 

  console.log(get_result_villes_nom_array_2_array) ; 
 console.log("action switch ok ") ; 

 }




 function action_final_sort() {



get_result_villes_nom_array_2_array = get_result_villes_nom_array_2_array.sort() ; 
get_epreuve_nom_complet_array = get_epreuve_nom_complet_array.sort() ; 
get_club_region_array_2_array = get_club_region_array_2_array.sort() ; 
get_club_nom_complet_array_2_array = get_club_nom_complet_array_2_array.sort() ; 
epreuve_sex_array_2_array = epreuve_sex_array_2_array.sort() ; 
get_cat_array_2_array = get_cat_array_2_array.sort() ; 
get_club_departement_array_2_array = get_club_departement_array_2_array.sort() ; 

/*

console.log(get_result_villes_nom_array_2_array) ; 
console.log(get_epreuve_nom_complet_array) ; 
console.log(get_club_region_array_2_array) ; 
console.log(get_club_nom_complet_array_2_array) ; 
console.log(epreuve_sex_array_2_array) ; 
console.log(get_cat_array_2_array) ; 
console.log(get_club_departement_array_2_array) ; 


get_result_villes_nom_array_2_array
get_epreuve_nom_complet_array
get_club_region_array_2_array
get_club_nom_complet_array_2_array
epreuve_sex_array_2_array
get_cat_array_2_array
get_club_departement_array_2_array


*/
 










 


 for(var y = 0 ; y<get_cat_array_2_array.length ; y++){

  console.log(get_cat_array_2_array[y]) ; 
  var id_val ="get_cat_array_2__zero" ;   
  var pasval='<img src="https://img.icons8.com/ios/25/null/checked-2--v1.png"/>';
  //Création et modulation du
  var nom_x =id_val+y ; 
  incrementation = y;

  var valide ='<img src="'+src_negatif+'"  id="'+nom_x+'x" class="'+id_val+'" title="'+incrementation+'" />';
//id_val
//epreuve_sex_array_2__zero
  var para = document.createElement("div");
  para.setAttribute("id",nom_x) ; 
  para.setAttribute("class","ax1") ;


  document.getElementById(id_val).appendChild(para);
  var para = document.createElement("div");
 
   para.innerHTML=get_cat_array_2_array[y];
  document.getElementById(nom_x).appendChild(para);
  var para = document.createElement("div");
  para.innerHTML=valide;
  para.setAttribute("onclick","val_(this)") ; 
  para.setAttribute("class",id_val) ; 
  para.setAttribute("title",incrementation) ; 
  document.getElementById(nom_x).appendChild(para);
  var para = document.createElement("div");
  para.inn=false;
  document.getElementById(nom_x).appendChild(para);
 

 }

 // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


 /*

 get_result_villes_nom_array_2_array
get_epreuve_nom_complet_array
get_club_region_array_2_array
get_club_nom_complet_array_2_array
epreuve_sex_array_2_array
get_cat_array_2_array
get_club_departement_array_2_array

*/
 for(var y = 0 ; y<epreuve_sex_array_2_array.length ; y++){

console.log(epreuve_sex_array_2_array[y]) ; 
var id_val ="epreuve_sex_array_2__zero" ;   
var pasval='<img src="https://img.icons8.com/ios/25/null/checked-2--v1.png"/>';
//Création et modulation du
var nom_x =id_val+y ; 
incrementation = y;

var valide ='<img src="'+src_negatif+'"  id="'+nom_x+'x" class="'+id_val+'" title="'+incrementation+'" />';
//id_val
//epreuve_sex_array_2__zero
var para = document.createElement("div");
para.setAttribute("id",nom_x) ; 
para.setAttribute("class","ax1") ;


document.getElementById(id_val).appendChild(para);
var para = document.createElement("div");

 para.innerHTML=epreuve_sex_array_2_array[y];
document.getElementById(nom_x).appendChild(para);
var para = document.createElement("div");
para.innerHTML=valide;
para.setAttribute("onclick","val_(this)") ; 
para.setAttribute("class",id_val) ; 
para.setAttribute("title",incrementation) ; 
document.getElementById(nom_x).appendChild(para);
var para = document.createElement("div");
para.inn=false;
document.getElementById(nom_x).appendChild(para);


}
// 2222222222222222222222222222222222222222222222
 

 /*

 get_result_villes_nom_array_2_array
get_epreuve_nom_complet_array
get_club_region_array_2_array
get_club_nom_complet_array_2_array
epreuve_sex_array_2_array
get_cat_array_2_array
get_club_departement_array_2_array

*/
for(var y = 0 ; y<get_club_departement_array_2_array.length ; y++){

console.log(get_club_departement_array_2_array[y]) ; 
var id_val ="get_club_departement_array_2__zero" ;   
var pasval='<img src="https://img.icons8.com/ios/25/null/checked-2--v1.png"/>';
//Création et modulation du
var nom_x =id_val+y ; 
incrementation = y;

var valide ='<img src="'+src_negatif+'"  id="'+nom_x+'x" class="'+id_val+'" title="'+incrementation+'" />';
//id_val
//epreuve_sex_array_2__zero
var para = document.createElement("div");
para.setAttribute("id",nom_x) ; 
para.setAttribute("class","ax1") ;


document.getElementById(id_val).appendChild(para);
var para = document.createElement("div");

 para.innerHTML=get_club_departement_array_2_array[y];
document.getElementById(nom_x).appendChild(para);
var para = document.createElement("div");
para.innerHTML=valide;
para.setAttribute("onclick","val_(this)") ; 
para.setAttribute("class",id_val) ; 
para.setAttribute("title",incrementation) ; 
document.getElementById(nom_x).appendChild(para);
var para = document.createElement("div");
para.inn=false;
document.getElementById(nom_x).appendChild(para);


}

 /// 3333333333333333333333333333333333333333

  /*

 get_result_villes_nom_array_2_array
get_epreuve_nom_complet_array
get_club_region_array_2_array
get_club_nom_complet_array_2_array
epreuve_sex_array_2_array
get_cat_array_2_array
get_club_departement_array_2_array

*/
for(var y = 0 ; y<get_club_region_array_2_array.length ; y++){

console.log(get_club_region_array_2_array[y]) ; 
var id_val ="get_club_region_array_2__zero" ;   
var pasval='<img src="https://img.icons8.com/ios/25/null/checked-2--v1.png"/>';
//Création et modulation du
var nom_x =id_val+y ; 
incrementation = y;

var valide ='<img src="'+src_negatif+'"  id="'+nom_x+'x" class="'+id_val+'" title="'+incrementation+'" />';
//id_val
//epreuve_sex_array_2__zero
var para = document.createElement("div");
para.setAttribute("id",nom_x) ; 
para.setAttribute("class","ax1") ;


document.getElementById(id_val).appendChild(para);
var para = document.createElement("div");

 para.innerHTML=get_club_region_array_2_array[y];
document.getElementById(nom_x).appendChild(para);
var para = document.createElement("div");
para.innerHTML=valide;
para.setAttribute("onclick","val_(this)") ; 
para.setAttribute("class",id_val) ; 
para.setAttribute("title",incrementation) ; 
document.getElementById(nom_x).appendChild(para);
var para = document.createElement("div");
para.inn=false;
document.getElementById(nom_x).appendChild(para);


}
// 44444444444444444444444444444

  /*

 get_result_villes_nom_array_2_array
get_epreuve_nom_complet_array
get_club_region_array_2_array
get_club_nom_complet_array_2_array
epreuve_sex_array_2_array
get_cat_array_2_array
get_club_departement_array_2_array

*/
for(var y = 0 ; y<get_club_nom_complet_array_2_array.length ; y++){

console.log(get_club_nom_complet_array_2_array[y]) ; 
var id_val ="get_club_nom_complet_array_2__zero" ;   
var pasval='<img src="https://img.icons8.com/ios/25/null/checked-2--v1.png"/>';
//Création et modulation du
var nom_x =id_val+y ; 
incrementation = y;

var valide ='<img src="'+src_negatif+'"  id="'+nom_x+'x" class="'+id_val+'" title="'+incrementation+'" />';
//id_val
//epreuve_sex_array_2__zero
var para = document.createElement("div");
para.setAttribute("id",nom_x) ; 
para.setAttribute("class","ax1") ;


document.getElementById(id_val).appendChild(para);
var para = document.createElement("div");

 para.innerHTML=get_club_nom_complet_array_2_array[y];
document.getElementById(nom_x).appendChild(para);
var para = document.createElement("div");
para.innerHTML=valide;
para.setAttribute("onclick","val_(this)") ; 
para.setAttribute("class",id_val) ; 
para.setAttribute("title",incrementation) ; 
document.getElementById(nom_x).appendChild(para);
var para = document.createElement("div");
para.inn=false;
document.getElementById(nom_x).appendChild(para);


}

 }














 
 

</script>

 



<script>

   var nom_x = 0 ; 
  var y= 3 ; 






 





function apres(nombre,nom_array) {
 
  for(var t =0  ; t<nombre ; t++){
                 
                 if(t % y==0){
 
 
 
                   var para = document.createElement("div");
                   para.setAttribute("id",nom_x) ; 
                   para.setAttribute("class","ax1") ;
                   document.getElementById(nom_array).appendChild(para);
 
 
               
 
                   for(var x =0 ; x<3;x++){
                     var para = document.createElement("div");
                   para.innerHTML="1";
             
                   document.getElementById(nom_x).appendChild(para);
                   
 
                   }
 
 
 
 
       nom_x ++ ; 
                 }
               }
}
</script>